<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/Theme.Pension">
        <activity
            android:name=".ShowUi.Three.Activity1"
            android:exported="false" />
        <activity
            android:name=".ShowUi.Three.Bind"
            android:exported="false" />
        <activity
            android:name=".ShowUi.Three.OlderDetail"
            android:exported="false" />
        <activity
            android:name=".ShowUi.Three.Photodetail"
            android:exported="false" />
        <activity
            android:name=".ShowUi.Three.SumBmit"
            android:exported="false" />
        <activity
            android:name=".ShowUi.Two.DetailData"
            android:exported="false" />
        <activity
            android:name=".MainActivityTTT"
            android:exported="true">
        </activity>
    </application>

</manifest>